// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.sync-sync {
  padding: 10px;

  label {
    color: white;
    width: 100%;
  }
  label > span {
    display: inline-block;
    width: 20%;
  }
  input[type=text] {
    color: black;
    width: 80%;
  }
  button {
    color: black;
    width: 50%;
  }

  .service {
    padding: 5px;
    margin-top: 5px;
  }

  .qiita {
    background-color: #74C23A;

    h2 {
      color: white;
    }
  }

  .esa {
    background-color: #449893;

    h2 {
      color: white;
    }
  }

  .docbase {
    background-color: #222F3E;

    h2 {
      color: white;
    }
  }
}
